In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/ladydisdain5911/python_course_repo/refs/heads/hw_3/train.csv")

In [4]:
print("-" * 20 + "Основная информация о датасете" + "-" * 20, end='\n')
print(df.info(), end='\n')

print("-" * 20 + "Статистика" + "-" * 20, end='\n')
print(df.describe(include='all'), end='\n')

print("-" * 20 + "Общее количесвто  пропусков" + "-" * 20, end='\n')
print(df.isnull().sum(), end='\n')

--------------------Основная информация о датасете--------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
--------------------Статистика--------------------
        PassengerId    Survived      Pclass                 Name   Sex  \
count    891.000000  891.000000  891.000000                  891   891
unique          NaN         NaN         NaN                  891     2
top             NaN         NaN         NaN  Dooley, Mr. Patrick  male
freq            NaN         NaN         NaN                    1   577
mean     446.000000    0.383838    2.308642                  NaN   NaN
std      257.353842    0.486592    0.836071                  NaN   NaN
min        1.000000    0.000000    1.000000                  NaN   NaN
25%      223.500000    0.000000    2.000000                  NaN   NaN
50%      446.000000    0.000000    3.000000                  NaN   NaN
75%      668.500000    1.000000    3.000000                  NaN   NaN
max      891.000000    1.000000    3.000000                  NaN   NaN

               Age       SibSp       Parch  Ticket        Fare Cabin Embarked
count   714.000000  891.000000  891.000000     891  891.000000   204      889
unique         NaN         NaN         NaN     681         NaN   147        3
top            NaN         NaN         NaN  347082         NaN    G6        S
freq           NaN         NaN         NaN       7         NaN     4      644
mean     29.699118    0.523008    0.381594     NaN   32.204208   NaN      NaN
std      14.526497    1.102743    0.806057     NaN   49.693429   NaN      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000   NaN      NaN
25%      20.125000    0.000000    0.000000     NaN    7.910400   NaN      NaN
50%      28.000000    0.000000    0.000000     NaN   14.454200   NaN      NaN
75%      38.000000    1.000000    0.000000     NaN   31.000000   NaN      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200   NaN      NaN
--------------------Общее количесвто  пропусков--------------------
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
survivalByClass = df.groupby('Pclass')['Survived'].mean() * 100
print("-" * 20 + "Процент выживаемости по классам" + "-" * 20, end='\n')
print(survivalByClass, end='\n')

--------------------Процент выживаемости по классам--------------------
Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

In [6]:
def extractFirstName(fullName):
    if '(' in fullName:
        return fullName.split('(')[1].split(')')[0].split(' ')[0].replace('"', '')
    else:
        parts = fullName.split(' ')
        return parts[2]


df['FirstName'] = df['Name'].apply(extractFirstName)
maleNames = df[df['Sex'] == 'male']['FirstName']
femaleNames = df[df['Sex'] == 'female']['FirstName']
print("-" * 20 + "Самое популярное мужское имя" + "-" * 20, end='\n')
print(maleNames.mode()[0], end='\n')
print("-" * 20 + "Самое популярное женское имя" + "-" * 20, end='\n')
print(femaleNames.mode()[0], end='\n')

--------------------Самое популярное мужское имя--------------------
William
--------------------Самое популярное женское имя--------------------
Anna

In [7]:
print("-" * 20 + "Самое популярное имя по классу и полу" + "-" * 20, end='\n')
for pclass in sorted(df['Pclass'].unique()):
    for sex in ['male', 'female']:
        names = df[(df['Pclass'] == pclass) & (df['Sex'] == sex)]['FirstName']
        if not names.empty:
            print(f"Pclass {pclass}, {sex}: {names.mode()[0]}", end='\n')
        else:
            print(f"Pclass {pclass}, {sex}: нет пассажиров данного пола")

--------------------Самое популярное имя по классу и полу--------------------
Pclass 1, male: William
Pclass 1, female: Elizabeth
Pclass 2, male: William
Pclass 2, female: Elizabeth
Pclass 3, male: William
Pclass 3, female: Anna

In [8]:
print("-" * 20 + "Часть таблицы с пассажирами, возраст которых больше 44 лет" + "-" * 20, end='\n')
print(df[df['Age'] > 44])

--------------------Часть таблицы с пассажирами, возраст которых больше 44 лет--------------------
     PassengerId  Survived  Pclass  \
6              7         0       1
11            12         1       1
15            16         1       2
33            34         0       2
52            53         1       1
..           ...       ...     ...
857          858         1       1
862          863         1       1
871          872         1       1
873          874         0       3
879          880         1       1

                                                  Name     Sex   Age  SibSp  \
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
33                               Wheadon, Mr. Edward H    male  66.0      0
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.0      1
..                                                 ...     ...   ...    ...
857                             Daly, Mr. Peter Denis     male  51.0      0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0

     Parch      Ticket     Fare Cabin Embarked  FirstName
6        0       17463  51.8625   E46        S    Timothy
11       0      113783  26.5500  C103        S  Elizabeth
15       0      248706  16.0000   NaN        S       Mary
33       0  C.A. 24579  10.5000   NaN        S     Edward
52       0    PC 17572  76.7292   D33        C       Myna
..     ...         ...      ...   ...      ...        ...
857      0      113055  26.5500   E17        S      Peter
862      0       17466  25.9292   D17        S   Margaret
871      1       11751  52.5542   D35        S     Sallie
873      0      345765   9.0000   NaN        S        Mr.
879      1       11767  83.1583   C50        C       Lily

[115 rows x 13 columns]

In [9]:
print("-" * 20 + "Часть таблицы с пассажирами мужского пола, возраст которых меньше 44 лет" + "-" * 20, end='\n')
print(df[(df['Age'] < 44) & (df['Sex'] == 'male')])

--------------------Часть таблицы с пассажирами мужского пола, возраст которых меньше 44 лет--------------------
     PassengerId  Survived  Pclass                            Name   Sex  \
0              1         0       3         Braund, Mr. Owen Harris  male
4              5         0       3        Allen, Mr. William Henry  male
7              8         0       3  Palsson, Master. Gosta Leonard  male
12            13         0       3  Saundercock, Mr. William Henry  male
13            14         0       3     Andersson, Mr. Anders Johan  male
..           ...       ...     ...                             ...   ...
883          884         0       2   Banfield, Mr. Frederick James  male
884          885         0       3          Sutehall, Mr. Henry Jr  male
886          887         0       2           Montvila, Rev. Juozas  male
889          890         1       1           Behr, Mr. Karl Howell  male
890          891         0       3             Dooley, Mr. Patrick  male

      Age  SibSp  Parch            Ticket    Fare Cabin Embarked  FirstName
0    22.0      1      0         A/5 21171   7.250   NaN        S       Owen
4    35.0      0      0            373450   8.050   NaN        S    William
7     2.0      3      1            349909  21.075   NaN        S      Gosta
12   20.0      0      0         A/5. 2151   8.050   NaN        S    William
13   39.0      1      5            347082  31.275   NaN        S     Anders
..    ...    ...    ...               ...     ...   ...      ...        ...
883  28.0      0      0  C.A./SOTON 34068  10.500   NaN        S  Frederick
884  25.0      0      0   SOTON/OQ 392076   7.050   NaN        S      Henry
886  27.0      0      0            211536  13.000   NaN        S     Juozas
889  26.0      0      0            111369  30.000  C148        C       Karl
890  32.0      0      0            370376   7.750   NaN        Q    Patrick

[368 rows x 13 columns]

In [10]:
cabin_counts = df.groupby('Cabin').size().value_counts()
print("-" * 20 + "Количество n-местных кабин" + "-" * 20, end='\n')
print(cabin_counts.sort_index())
print("Номер кабины не указан у", df['Cabin'].isnull().sum(), "пассажиров", sep=' ')

--------------------Количество n-местных кабин--------------------
1    101
2     38
3      5
4      3
Name: count, dtype: int64
Номер кабины не указан у 687 пассажиров